.wrapper {
    width: 705px;
    margin: 20px auto;
    padding: 20px;
}
        
.items {
    display: block;
    margin: 20px 0;
}
.item {
    background-color: #fff;
    float: left;
    margin: 0 10px 10px 0;
    width: 205px;
    padding: 10px;
     
}
.item img {
    display: block;
    margin: auto;
    height: 80px;
    width: 80px;
}
.item h2 {
    font-size: 12px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}
.item button {
    border: 1px solid #ef4478;
    padding: 4px 14px;
    background-color: #ef4478;
    color: #fff;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 50px;
    
}
      .item button:focus{
            outline: none !important;
        }
span {
    float: right;
}
        
        .item p{
            font-size: 14px;
        }
 

        